---
layout: default
---
<div class="wrap">
  <header class="page-head">
    <h1>{{ page.title }}</h1>
    {% if page.lede %}<p class="lede">{{ page.lede }}</p>{% endif %}
  </header>
  <div class="about">
    <div class="prose">{{ content }}</div>
    <aside>
      <div class="box">
        <b>Get in touch</b>
        <p>Questions, ideas or disagreements are welcome.</p>
        {% if site.email %}<p><a class="btn primary sm" href="mailto:{{ site.email }}">{% include icon.html n='mail' %} Email me</a></p>{% endif %}
        <div class="btns">
          <a class="btn sm" href="https://github.com/{{ site.github_username }}">{% include icon.html n='github' %} GitHub</a>
          <a class="btn sm" href="{{ '/feed.xml' | relative_url }}">{% include icon.html n='rss' %} RSS</a>
        </div>
      </div>
      <div class="box">
        <b>Earlier writing</b>
        <p>My first blog, Facts.and.opinions, is still online.</p>
        <a class="btn sm" href="https://circlesnlines.wordpress.com/">Visit old blog</a>
      </div>
    </aside>
  </div>
</div>
